.additional-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 31px;
	padding-top: 13px;
	padding-bottom: 19px;
	border-top: 1px solid #cdcdcd;

	@media #{$not-mobile} {
		gap: 0;
		padding: 0;
		border: none;
	}
}
