.additional-parameters__title {
	padding: 0;
	margin: 0;
	margin-bottom: 40px;
}

.additional-parameters__input-wrapper {
	display: grid;
	grid-template-columns: auto;
	gap: 25px;
	width: 100%;

	@media #{$not-mobile} {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 57px;
		row-gap: 34px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(4, 1fr);
	}
}

.additional-parameters__input {
	appearance: none;
	display: grid;
	margin: 0;

	&::before {
		content: "";
		box-sizing: border-box;
		width: 30px;
		height: 30px;
		border: 1px solid #cdcdcd;
		background: #ffffff;
	}

	&:checked::before {
		background: url("../../icons/stack.svg#checkbox") no-repeat center;
	}

	@media #{$not-mobile} {
		&::before {
			width: 40px;
			height: 40px;
		}
	}
}

.additional-parameters__label {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 16px;

	@media #{$not-mobile} {
		gap: 20px;
	}

	@media #{$desktop-only} {
		grid-row: 2 / 3;
	}
}
