.additional-catalog__title {
	margin: 0;
}

.additional-catalog__special-offer {
	background:
		linear-gradient(
			rgb(104 183 56 / 0.85),
			rgb(104 183 56 / 0.85)
		),
		url("/img/background-catalog-cat-mobile@1x.png") no-repeat;
	background-size: 100% auto;

	@media (min-resolution: 2dppx) {
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			url("/img/background-catalog-cat-mobile@2x.png") no-repeat;
		background-size: 100% auto;
	}

	padding: 186px 60px 43px 60px;
}

.additional-catalog__additional-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
