.additional-item {
	&__name {
		font-family: var(--accent-font);
		font-size: 16px;
		line-height: 16px;
		text-transform: uppercase;
		color: #222222;
		margin: 0;
	}

	&__quantity {
		line-height: 14px;
	}

	&__price {
		line-height: 14px;
	}
}
