.additional-parameters__title {
	padding: 0;
	margin: 0;
	margin-bottom: 34px;

	@media #{$not-mobile} {
		margin-bottom: 57px;
	}
}

.additional-parameters__input-wrapper {
	display: grid;
	grid-template-columns: auto;
	gap: 13px;
	width: 100%;

	@media #{$not-mobile} {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 57px;
		row-gap: 32px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 78px;
	}
}

.additional-parameters__input {
	--checkbox-size: 30px;
	appearance: none;
	display: grid;
	margin: 0;

	@media #{$not-mobile} {
		--checkbox-size: 40px;
	}

	&:hover {
		--border-color: #bababa;
	}

	&:disabled {
		--border-color: #bababa;
		opacity: 0.3;

		+ .additional-parameters__label-name {
			opacity: 0.3;
		}
	}

	&:checked {
		--tick-icon: url("../../icons/stack.svg#checkbox") no-repeat center;
	}

	&::before {
		content: "";
		box-sizing: border-box;
		width: var(--checkbox-size);
		height: var(--checkbox-size);
		border: 1px solid;
		border-color: var(--border-color, #cdcdcd);
		background: var(--tick-icon, none);
	}
}

.additional-parameters__label {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 16px;

	@media #{$not-mobile} {
		gap: 20px;
	}
}
