.additional-catalog__title {
	margin: 0;
}

.additional-catalog__special-offer {
	background:
		linear-gradient(
			rgb(104 183 56 / 0.85),
			rgb(104 183 56 / 0.85)
		),
		var(--bg-image) no-repeat;
	background-size: 100% auto;
	padding: 186px 60px 43px 60px;

	@include bg-image("background-catalog-cat");
}

.additional-catalog__additional-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
