.button {
	display: block;
	box-sizing: border-box;
	padding: 10px 44px;
	background: #68b738;
	font-family: var(--accent-font);
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	height: 40px;
	border: none;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 0px;
		padding: 13px 44px;
		height: 52px;
	}

	&:hover {
		background: #5eaa2f;
	}

	&:active {
		color: rgb(255 255 255 / 0.3);
	}
}
