.button {
	display: block;
	box-sizing: border-box;
	padding: 10px 44px;
	background: #68b738;
	font-family: var(--accent-font);
	text-transform: uppercase;
	color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	height: 40px;
	border: none;

	&:hover {
		background: #5eaa2f;
	}

	&:active {
		color: rgb(255 255 255 / 0.3);
	}
}
