.catalog {
	background: #ffffff;
}

.catalog__centerer {
	padding-top: 27px;

	@media #{$not-mobile} {
		padding-top: 58px;
	}

	@media #{$desktop-only} {
		padding-top: 71px;
	}
}

.catalog__title {
	margin: 0;
	margin-bottom: 49px;

	@media #{$not-mobile} {
		margin-bottom: 82px;
	}

	@media #{$desktop-only} {
		margin-bottom: 84px;
	}
}

.catalog__products-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
