.catalog {
	background: #ffffff;
}

.catalog__centerer {
	padding-top: 27px;
	margin-bottom: 35px;

	@media #{$not-mobile} {
		padding-top: 48px;
		margin-bottom: 76px;
	}

	@media #{$desktop-only} {
		padding-top: 58px;
		margin-bottom: 86px;
	}
}

.catalog__title {
	position: relative;
	margin: 0;
	margin-bottom: 49px;

	@media #{$mobile-only} {
		--underline: "";
	}

	@media #{$not-mobile} {
		margin-bottom: 75px;
	}

	@media #{$desktop-only} {
		margin-bottom: 77px;
	}

	&::before {
		display: block;
		position: absolute;
		content: var(--underline, none);
		width: 100vw;
		height: 1px;
		top: 77px;
		left: calc(-1 * var(--content-indent));
		background: #ebebeb;
	}
}

.catalog__products {
	margin-bottom: 50px;

	@media #{$not-mobile} {
		margin-bottom: 68px;
	}

	@media #{$desktop-only} {
		margin-bottom: 75px;
	}
}

.catalog__products-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
