.compare-images {
	display: grid;

	@media #{$not-mobile} {
		width: 560px;
		height: 512px;
	}
}

.compare-images__fat-cat-container {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin: 0 auto;
}

.compare-images__skinny-cat-container {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin: 0 auto;
}
