.footer {
	background: #f2f2f2;
	padding-top: 33px;
	padding-bottom: 40px;

	@media #{$tablet-only} {
		padding-top: 60px;
		padding-bottom: 55px;
	}

	@media #{$desktop-only} {
		padding-top: 66px;
		padding-bottom: 66px;
	}
}

.footer__socials {
	display: flex;
	gap: 36px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	@media #{$not-mobile} {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.footer__academy-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--main-color);
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	width: 100%;


	@media #{$not-mobile} {
		width: auto;
		gap: 28px;
	}

	&:hover {
		--icon-color: #68b738;
	}

	&:active {
		opacity: 0.3;
		--icon-color: #68b738;
	}

	&::after {
		display: block;
		content: "";
		width: 27px;
		height: 34px;
		mask: url("../../icons/stack.svg#htmlacademy-logo") no-repeat center;
		background: var(--icon-color, #666666);
	}
}

.footer__social-list {
	display: flex;
	gap: 24px;
	list-style-type: none;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		margin-left: 25px;
	}
}

.footer__logo-text {
	object-fit: cover;

	@media #{$not-mobile} {
		width: 142px;
		height: 26px;
	}

	&:hover {
		fill: #3e3e3e;
	}

	&:active {
		fill: #6b6b6b;
	}
}
