.form-comments {
	display: grid;
	grid-template-columns: 1fr;
}

.form-comments__title {
	margin-bottom: 37px;

	@media #{$not-mobile} {
		margin-bottom: 76px;
	}
}

.form-comments__comments-area {
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	padding: 9px 12px 9px 15px;
	border: 1px solid #e7e7e7;
	min-height: 132px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		min-height: 153px;
		padding: 10px 12px 10px 19px;
	}
}
