.heading {
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	color: #000000;

	&--lvl-1 {
		font-size: 36px;
		line-height: 36px;

		@media #{$not-mobile} {
			font-size: 60px;
			line-height: 60px;
		}
	}

	&--lvl-2 {
		font-size: 36px;
		line-height: 40px;

		@media #{$not-mobile} {
			font-size: 60px;
			line-height: 60px;
		}
	}

	&--lvl-3 {
		font-size: 24px;
		line-height: 26px;

		@media #{$not-mobile} {
			font-size: 36px;
			line-height: 36px;
		}
	}
}
