.main-form {
	background: #ffffff;
	padding-top: 27px;
	padding-left: 20px;
	padding-right: 20px;

	&__description {
		font-family: var(--accent-font);
		text-transform: uppercase;
		color: #000000;
		margin-bottom: 39px;
	}

	&__title {
		margin-bottom: 37px;
	}
}
