.main-form {
	background: #ffffff;
}

.main-form__centerer {
	padding-top: 27px;

	@media #{$not-mobile} {
		padding: 50px 36px 0 40px;
	}

	@media #{$desktop-only} {
		padding: 0;
		padding-top: 56px;
	}
}

.main-form__description {
	font-family: var(--accent-font);
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	margin-right: 10px;
	margin-bottom: 39px;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 66px;
		margin-right: 309px;
	}

	@media #{$desktop-only} {
		margin-right: 900px;
	}
}

.main-form__title {
	margin: 0;
	margin-bottom: 37px;

	@media #{$not-mobile} {
		margin-bottom: 52px;
	}

	@media #{$desktop-only} {
		margin-bottom: 56px;
	}
}
