.navigation-list {
	@include list-style;


	&__item {
		text-decoration: none;
		text-transform: uppercase;
	}

	&__link {
		font-family: var(--accent-font);
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		color: #000000;
		text-decoration: none;
	}
}
