.navigation-list__item {
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
}

.navigation-list__link {
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
}
