.navigation__list {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		position: absolute;
		top: -10px;
		right: 0;
		display: flex;
		justify-content: end;
		flex-wrap: wrap;
		max-width: 70%;
		column-gap: 34px;
		z-index: 2;
	}
}

.navigation__item {
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 22px;
	padding-bottom: 24px;

	@media #{$mobile-only} {
		border-top: 1px solid #e6e6e6;

		&:last-child {
			border-bottom: 1px solid #e6e6e6;
		}
	}

	&:hover {
		opacity: 0.6;
	}

	&:active {
		opacity: 0.3;
	}
}

.navigation__item--current {
	@media #{$not-mobile} {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			right: 0;
			bottom: 13px;
			left: 0;
			height: 2px;
			background: #68b738;
		}
	}
}

.navigation__link {
	display: block;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	text-align: center;

	@media #{$not-mobile} {
		font-size: 18px;
		line-height: 24px;
	}

	@media #{$desktop-only} {
		// color: #ffffff;
		font-size: 20px;
		line-height: 30px;
	}
}

.navigation__toggle-wrapper {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 10px;
	right: 0;

	@media #{$not-mobile} {
		display: none;
	}

	&::before {
		display: block;
		content: "";
		width: 24px;
		height: 24px;
		background: url("../../icons/stack.svg#burger") no-repeat center;
	}
}

.navigation__toggle {
	position: absolute;
	top: -3px;
	right: -3px;
	padding: 0;
	width: 30px;
	height: 30px;
	border: none;
	background: none;
	cursor: pointer;
}

.navigation--no-js {
	.navigation__toggle {
		display: none;
	}

	.navigation__list {
		@media #{$mobile-only} {
			display: grid;
			grid-template-columns: 1fr;
			margin-top: 17px;
			margin-bottom: -17px;
		}
	}
}

.navigation--opened {
	@media #{$mobile-only} {
		.navigation__toggle-wrapper {
			&::before {
				display: block;
				content: "";
				width: 24px;
				height: 24px;
				background: url("../../icons/stack.svg#close") no-repeat center;
			}
		}

		.navigation__list {
			position: absolute;
			display: grid;
			grid-template-columns: 1fr;
			width: 100vw;
			left: calc(-1 * var(--content-indent));
			top: 58px;
			background: #ffffff;
			z-index: 3;
		}
	}
}
