.owner-contacts {
	padding: 0;
}

.owner-contacts__title {
	padding: 0;
	margin: 0;
	margin-bottom: 35px;

	@media #{$not-mobile} {
		margin-bottom: 76px;
	}
}

.owner-contacts__label {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	align-items: center;
}

.owner-contacts__input {
	flex-grow: 1;
	margin-left: 13px;
}

.owner-contacts__label-wrapper {
	display: grid;
	gap: 14px;

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr;
		gap: 78px;
	}
}
