.products-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
	gap: 19px;

	@media #{$not-mobile} {
		column-gap: 60px;
		row-gap: 54px;
	}

	@media #{$desktop-only} {
		column-gap: 80px;
		row-gap: 60px;
	}
}
