.products-item {
	position: relative;
	padding-top: 11px;
	padding-bottom: 14px;

	@media #{$not-mobile} {
		&::after {
			display: block;
			position: absolute;
			content: "";
			width: 100%;
			height: 430px;
			bottom: 0;
			background: #f2f2f2;
		}
	}

	&::after {
		display: block;
		position: absolute;
		content: "";
		width: 100vw;
		height: 1px;
		bottom: -11px;
		left: calc(-1 * var(--content-indent));
		background: #ebebeb;
	}

	&--show-more {
		display: grid;
		padding: 0;
		margin-top: 15px;

		@media #{$not-mobile} {
			height: 429px;
			margin-top: auto;
			border: 2px solid #f2f2f2;
		}

		&::before {
			display: block;
			position: absolute;
			content: "";
			width: 30px;
			height: 30px;
			left: 50%;
			transform: translate(-50%);
			background: url("../../icons/stack.svg#plus") no-repeat center;
		}

		&::after {
			bottom: -25px;
		}
	}
}

.products-item__container {
	position: relative;
	z-index: 2;
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: repeat(2, 1fr);

	@media #{$not-mobile} {
		grid-template-columns: 1fr;
		grid-template-rows: 206px repeat(3, auto);
		padding: 39px;
		padding-top: 8px;
	}
}

.products-item__image-wrapper {
	grid-row: 1 / 3;
	margin: auto;

	@media #{$not-mobile} {
		grid-row: 1 / 2;
		margin-bottom: 0;
	}
}

.products-item__image {
	display: block;
	margin: auto;

	@media #{$not-mobile} {
		margin-bottom: 0;
	}
}

.products-item__name {
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #222222;
	margin: 0;
	margin-right: 64px;
	margin-bottom: 15px;


	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		margin: 34px 50px 21px;
	}

	@media #{$desktop-only} {
		line-height: 21px;
	}
}

.products-item__parameters {
	margin: 0;
	margin-bottom: 22px;

	@media #{$not-mobile} {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 42px;
	}
}

.products-item__wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;

	@media #{$not-mobile} {
		&::after {
			display: block;
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			bottom: -9px;
			background: #cdcdcd;
		}
	}
}

.products-item__wrapper:not(:last-child) {
	@media #{$not-mobile} {
		margin-bottom: 16px;
	}
}

.products-item__parameter,
.products-item__value {
	font-size: 12px;
	line-height: 16px;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 16px;
	}
}

.products-item__button {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	font-size: 16px;
	line-height: 20px;

	@media #{$not-mobile} {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
		height: 40px;
		padding: 10px 44px;
	}
}

.products-item__show-more-name {
	grid-column: 1 / 3;
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #222222;
	justify-self: center;
	margin-top: 53px;
}

.products-item__show-more-description {
	grid-column: 1 / 3;
	font-size: 12px;
	line-height: 16px;
	justify-self: center;
	margin-top: 8px;
	margin-bottom: 21px;
}

.products-item__show-all-button {
	grid-column: 1 / 3;
	background: #f2f2f2;
	color: #444444;
	font-size: 16px;
	line-height: 20px;

	@media #{$not-mobile} {
		height: 40px;
		padding: 10px 44px;
		font-size: 16px;
	}
}
