.products-item__name {
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #222222;
}

.products-item__parameter {
	font-size: 12px;
	line-height: 16px;
}

.products-item__value {
	font-size: 12px;
	line-height: 16px;
}

.products-item__button {
	font-size: 16px;
	line-height: 20px;
}

.products-item__show-more-description {
	font-size: 12px;
	line-height: 16px;
}

.products-item__show-all-button {
	background: #f2f2f2;
	color: #444444;
}
