.program-type {
	position: relative;
	border: none;
	padding: 22px 4px 19px 0;

	@media #{$mobile-only} {
		--underline: "";
	}

	@media #{$not-mobile} {
		padding: 24px 0 28px 28px;
		border: 1px solid #e7e7e7;
	}

	&::after {
		display: block;
		position: absolute;
		content: var(--underline, none);
		width: 100vw;
		height: 1px;
		left: calc(-1 * var(--content-indent));
		bottom: 0;
		background: #d9d9d9;
	}
}

.program-type__list {
	display: grid;
	gap: 13px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.program-type__label {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 15px;

	@media #{$not-mobile} {
		gap: 20px;
	}
}

.program-type__input {
	--radio-size: 30px;
	--checked-size: 13px;
	appearance: none;
	display: grid;
	margin: 0;

	&:hover {
		--border-color: #bababa;
	}

	&:disabled {
		--border-color: #bababa;
		opacity: 0.3;

		+ .program-type__label-name {
			opacity: 0.3;
		}
	}

	&::before {
		content: "";
		box-sizing: border-box;
		width: var(--radio-size);
		height: var(--radio-size);
		border: 1px solid;
		border-color: var(--border-color, #cdcdcd);
		background: #ffffff;
		border-radius: 50%;
		grid-area: 1 / 1 / 2 / 2;

		@media #{$not-mobile} {
			--radio-size: 40px;
		}
	}

	&:checked::after {
		content: "";
		width: var(--checked-size);
		height: var(--checked-size);
		background-color: #68b738;
		border-radius: 50%;
		grid-area: 1 / 1 / 2 / 2;
		align-self: center;
		justify-self: center;

		@media #{$not-mobile} {
			--checked-size: 18px;
		}
	}
}
