.programs__programs-list {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;

	@media #{$tablet-only} {
		gap: 30px;
	}

	@media #{$desktop-only} {
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		gap: 80px;
	}
}

.programs__programs-item {
	position: relative;
	background-color: #f2f2f2;
	padding: 30px 30px 22px 20px;

	@media #{$mobile-only} {
		&::after {
			display: block;
			position: absolute;
			content: "";
			width: calc(100% - 40px);
			height: 1px;
			bottom: 57px;
			background: #d9d9d9;
		}
	}

	@media #{$tablet-only} {
		padding: 74px 316px 57px 52px;
	}

	@media #{$desktop-only} {
		padding: 77px 67px 59px 52px;
	}

	&--weight-loss::before {
		display: block;
		position: absolute;
		margin-left: 1px;
		content: "";
		width: 67px;
		height: 67px;
		top: 16px;
		left: 13px;
		background: url("../../icons/stack.svg#weight-loss") no-repeat center;

		@media #{$tablet-only} {
			width: 268px;
			height: 268px;
			top: 57px;
			left: auto;
			right: 28px;
		}

		@media #{$desktop-only} {
			width: 134px;
			height: 134px;
			top: 25px;
			left: 33px;
			right: auto;
		}
	}

	&--weight-gain::before {
		display: block;
		position: absolute;
		margin-top: 2px;
		content: "";
		width: 67px;
		height: 67px;
		top: 16px;
		left: 13px;
		background: url("../../icons/stack.svg#weight-gain") no-repeat center;

		@media #{$tablet-only} {
			width: 268px;
			height: 268px;
			top: 57px;
			left: auto;
			right: 28px;
		}

		@media #{$desktop-only} {
			width: 134px;
			height: 134px;
			top: 25px;
			left: 33px;
			right: auto;
		}
	}
}

.programs__programs-title {
	align-self: center;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
	color: #000000;
	margin: 0;
	margin-left: 71px;
	margin-bottom: 29px;

	@media #{$not-mobile} {
		font-size: 36px;
		line-height: 36px;
	}

	@media #{$tablet-only} {
		margin: 0;
		margin-bottom: 24px;
	}

	@media #{$desktop-only} {
		margin-left: 162px;
		margin-bottom: 73px;
	}
}

.programs__programs-description {
	margin: 0;
	margin-bottom: 42px;

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 24px;
	}

	@media #{$tablet-only} {
		margin-bottom: 52px;
	}

	@media #{$desktop-only} {
		margin-bottom: 27px;
	}
}

.programs__programs-link {
	display: flex;
	gap: 15px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		gap: 25px;
	}

	&::after {
		display: block;
		content: "";
		width: 32px;
		height: 12px;
		margin-top: 2px;
		background: url("../../icons/stack.svg#arrow") no-repeat -8px;

		@media #{$not-mobile} {
			margin-top: 8px;
		}
	}
}
