.selection-form {
	display: grid;
	grid-template-columns: 1fr;

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr;
		column-gap: 78px;
	}
}

.selection-form__setting-data-wrapper {
	position: relative;
	display: grid;
	gap: 14px;
	padding-bottom: 24px;

	@media #{$mobile-only} {
		&::after {
			display: block;
			position: absolute;
			content: "";
			width: 100vw;
			height: 1px;
			left: calc(-1 * var(--content-indent));
			bottom: 0;
			background: #d9d9d9;
		}
	}

	@media #{$not-mobile} {
		gap: 20px;
		padding-bottom: 72px;
	}

	@media #{$desktop-only} {
		padding-bottom: 0;
	}
}

.selection-form__label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.selection-form__input {
	flex-grow: 1;
	margin-left: 13px;
}

.selection-form__title {
	margin: 0;
	margin-bottom: 46px;
}

.selection-form__program-type {
	margin: 0;
	margin-bottom: 26px;

	@media #{$not-mobile} {
		margin-bottom: 71px;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 28px;
		border: 1px solid #e7e7e7;
	}

	@media #{$desktop-only} {
		grid-column: 2 / 3;
		margin: 0;
	}
}

.selection-form__owner-contacts {
	margin: 0;
	margin-bottom: 23px;
	border: none;

	@media #{$not-mobile} {
		margin-bottom: 65px;
	}

	@media #{$desktop-only} {
		grid-column: 1 / 3;
		margin-top: 69px;
		margin-bottom: 67px;
	}
}

.selection-form__form-comments {
	margin-bottom: 23px;

	@media #{$tablet-only} {
		margin-bottom: 65px;
	}

	@media #{$desktop-only} {
		grid-column: 1 / 3;
		margin-bottom: 67px;
	}
}

.selection-form__additional-parameters {
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
	border: none;

	@media #{$not-mobile} {
		margin-bottom: 59px;
	}

	@media #{$desktop-only} {
		grid-column: 1 / 3;
		margin-bottom: 66px;
	}
}

.selection-form__warning {
	line-height: 16px;
	color: #000000;

	@media #{$mobile-only} {
		margin-inline: auto;
	}
}

.selection-form__button-wrapper {
	display: grid;
	align-items: center;
	gap: 21px;
	margin-bottom: 32px;

	@media #{$not-mobile} {
		grid-template-columns: repeat(2, auto);
		gap: 64px;
		margin-bottom: 72px;
	}

	@media #{$desktop-only} {
		gap: 84px;
		margin-bottom: 82px;
	}
}
