.welcome {
	background:
		linear-gradient(
			rgb(104 183 56 / 0.85),
			rgb(104 183 56 / 0.85)
		),
		var(--bg-image) no-repeat;
	background-size: 100% auto;
	text-align: center;
	padding-top: 27px;
	color: #ffffff;

	@media (min-width: 768px) {
		background: #ffffff;
		color: #000000;
	}

	@media (min-width: 1280px) {
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			var(--bg-image) no-repeat;
	}

	@include bg-image("background-cat");
}

.welcome__main-title {
	color: inherit;
	margin: 0;
	margin-bottom: 25px;
}

.welcome__main-description {
	margin: 0;
	margin-bottom: 29px;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: inherit;
}

.welcome__welcome-image {
	margin-bottom: 3px;
}
