<section class="contacts">
	<div class="contacts__postmail{% if permalink == "index.html" %} contacts__postmail--light-bg{% endif %}">
		<h2 class="visually-hidden">Почтовый адрес</h2>
		<p class="contacts__invitation">Приглашаем<br>к сотрудничеству<br>дилеров</p>
		<address class="contacts__address">ул. Большая<br>Конюшенная, д. 19/8<br><br class="contacts__linebreak">Санкт-Петербург</address>
	</div>
	<div class="contacts__map map">
		<h2 class="visually-hidden">Схема проезда</h2>
		<iframe class="map__interactive" src="https://yandex.ru/map-widget/v1/?um=constructor%3A1e69f4e96c443d45cbe1a9d13eccc646da4c76ccd5fd76d18db368992ff36aad&amp;source=constructor" width="320" height="362"></iframe>
		<noscript>{% include "picture.twig" with {name: "map-image", class: "map__static", alt: "Карта схемы проезда"} %}</noscript>
	</div>
</section>
