<footer class="footer">
		<div class="footer__socials socials">
		<a class="footer__logo" href="#">
			<img class="footer__logo-text logo-text" src="/img/text-logo-mobile.svg" width="111" height="23" alt="Текстовый логотип Cat Energy.">
		</a>
		<section class="footer__social-links">
			<h2 class="visually-hidden">Ссылки на социальные сети</h2>
			<ul class="footer__social-list social-list">
				<li class="social-list__social-item">
					<a class="social-list__social-link" href="#">
						{# Добавить иконку #}
						<span class="visually-hidden">Вконтакте</span>
					</a>
				</li>
				<li class="social-list__social-item">
					<a class="social-list__social-link" href="#">
						{# Добавить иконку #}
						<span class="visually-hidden">Youtube</span>
					</a>
				</li>
				<li class="social-list__social-item">
					<a class="social-list__social-link" href="#">
						{# Добавить иконку #}
						<span class="visually-hidden">Telegram</span>
					</a>
				</li>
			</ul>
		</section>
		<a class="footer__academy-link" href="https://htmlacademy.ru/intensive/adaptive">
			<span class="footer__academy-name">HTML Academy</span>
			{# Добавить иконку #}
		</a>
	</div>
</footer>
