<footer class="main-footer">
	<section class="main-footer__contacts contacts">
		<h2 class="visually-hidden">Почтовый адрес</h2>
		<p class="contacts__invitation">Приглашаем к сотрудничеству дилеров</p>
		<address class="contacts__adress">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</address>
	</section>
	<section class="main-footer__map map">
		<h2 class="visually-hidden">Схема проезда</h2>
		<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1e69f4e96c443d45cbe1a9d13eccc646da4c76ccd5fd76d18db368992ff36aad&amp;source=constructor" width="320" height="362"></iframe>
	</section>
	<section class="main-footer__socials socials">
		<h2 class="visually-hidden">Ссылки на социальные сети.</h2>
		<a class="socials__logo" href="#">
			<img class="main-footer__logo-text logo-text" src="/img/text-logo-mobile.svg" width="111" height="23" alt="Текстовый логотип Cat Energy.">
		</a>
		<ul class="socials__social-list social-list">
			<li class="social-list__social-item">
				<a class="social-list__social-link" href="#">
					{# Добавить иконку #}
					<span class="visually-hidden">Вконтакте.</span>
				</a>
			</li>
			<li class="social-list__social-item">
				<a class="social-list__social-link" href="#">
					{# Добавить иконку #}
					<span class="visually-hidden">Youtube.</span>
				</a>
			</li>
			<li class="social-list__social-item">
				<a class="social-list__social-link" href="#">
					{# Добавить иконку #}
					<span class="visually-hidden">Telegram.</span>
				</a>
			</li>
		</ul>
		<a class="socials__academy-link" href="https://htmlacademy.ru/intensive/adaptive">
			<span class="socials__academy-name">HTML Academy</span>
			{# Добавить иконку #}
		</a>
	</section>
</footer>
