<header class="header">
	<div class="header__centerer page__centerer">
		<a class="header__logos logos" href="index.html">
			<picture>
				<source media="(min-width: 1440px)" srcset="./img/logo.svg#desktop">
				<source media="(min-width: 769px)" srcset="./img/logo.svg#tablet">
				<img class="logos__logo-image" src="./img/logo.svg#mobile" width="33" height="38" alt="Логотип Cat Energy.">
			</picture>
			<picture>
				<img class="logos__logo-text" src="./img/logo.svg#type" width="101" height="18" alt="Текстовый логотип Cat Energy.">
			</picture>
		</a>
		<nav class="navigation navigation--closed">
			<div class="navigation__toggle-wrapper">
				<button class="navigation__toggle" type="button">
					<span class="visually-hidden">Открыть меню</span>
				</button>
			</div>
			<ul class="navigation__list">
				<li class="navigation__item navigation__item--current">
					<a class="navigation__link" href="index.html">Главная</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="catalog.html">Каталог продукции</a>
				</li>
				<li class="navigation__item">
					<a class="navigation__link" href="form.html">Подбор программы</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
