<header class="main-header">
	<a class="main-header__logo" href="#">
		<img class="main-header__logo-image" src="/img/logo-mobile.svg" alt="Логотип Cat Energy.">
		<img class="main-header__logo-text" src="/img/text-logo-mobile.svg" alt="Текстовый логотип Cat Energy.">
	</a>
	<nav class="main-navigation">
		<button class="main-navigation__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="main-navigation__list">
			<li class="main-navigation__item main-navigation__item--current">
				<a class="main-navigation__link" href="#">Главная</a>
			</li>
			<li class="main-navigation__item">
				<a class="main-navigation__link" href="#">Каталог продукции</a>
			</li>
			<li class="main-navigation__item">
				<a class="main-navigation__link" href="#">Подбор программы</a>
			</li>
		</ul>
	</nav>
</header>
