<header class="header">
	<div class="header__centerer page__centerer">
		<a class="header__logos logos" href="./">
			<picture>
				<source media="(min-width: 1440px)" srcset="./img/logo.svg#desktop">
				<source media="(min-width: 768px)" srcset="./img/logo.svg#tablet">
				<img class="logos__logo-image" src="./img/logo.svg#mobile" width="33" height="38" alt="Логотип Cat Energy.">
			</picture>
			<picture>
				<source media="(min-width: 768px)" srcset="./img/logo.svg#type-tablet" width="102" height="20">
				<img class="logos__logo-text" src="./img/logo.svg#type-mobile" width="101" height="18" alt="Текстовый логотип Cat Energy.">
			</picture>
		</a>
		<nav class="navigation navigation--no-js navigation--opened">
			<div class="navigation__toggle-wrapper">
				<button class="navigation__toggle" type="button">
					<span class="visually-hidden">Открыть меню</span>
				</button>
			</div>
			<ul class="navigation__list">
				{% for page in pages %}
				<li class="navigation__item">
					<a class="navigation__link {% if permalink == "./" %} navigation__link--light-color{% endif %}" href="{{ page.path }}" {% if permalink == page.path %} aria-current="page" {% endif %}>{{ page.name }}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
