<header class="main-header">
	<a class="main-header__logo" href="index.html">
		<img class="main-header__logo-image" src="/img/logo-mobile.svg" width="33" height="38" alt="Логотип Cat Energy.">
		<img class="main-header__logo-text logo-text" src="/img/text-logo-mobile.svg" width="111" height="23" alt="Текстовый логотип Cat Energy.">
	</a>
	<nav class="main-navigation">
		<button class="main-navigation__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<ul class="main-navigation__list">
			<li class="main-navigation__item main-navigation__item--current">
				<a class="main-navigation__link" href="index.html">Главная</a>
			</li>
			<li class="main-navigation__item">
				<a class="main-navigation__link" href="catalog.html">Каталог продукции</a>
			</li>
			<li class="main-navigation__item">
				<a class="main-navigation__link" href="form.html">Подбор программы</a>
			</li>
		</ul>
	</nav>
</header>
