{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}

<!--

	⚠️ Проверяющему ⚠️

	🔷 Валидация и проверка БЭМ-классов включены в `npm run lint`

	🔷 Webp генерируется в прод-сборке. Проверить — `npm run preview`

-->

<main class="main-form">
	<div class="main-form__centerer page__centerer">
		<h1 class="main-form__title heading heading--lvl-1">Подбор программы</h1>
		<p class="main-form__description">Заполните анкету, и мы подберем программу питания для вашего кота</p>
		<form class="main-form__selection-form selection-form" action="https://echo.htmlacademy.ru/courses" method="get">
			<div class="selection-form__setting-data-wrapper">
				<label class="selection-form__label" for="name">
					<span class="selection-form__label-name label-name">Имя:</span>
					<span class="selection-form__label-name label-name" aria-hidden="true">*</span>
					<input class="selection-form__input input" type="text" id="name" placeholder="Барсик" required>
				</label>
				<label class="selection-form__label" for="weight">
					<span class="selection-form__label-name label-name">Вес (кг):</span>
					<span class="selection-form__label-name label-name" aria-hidden="true">*</span>
					<input class="selection-form__input selection-form__input--weight input" type="number" id="weight" placeholder="7" required>
				</label>
				<label class="selection-form__label" for="age">
					<span class="selection-form__label-name label-name">Возраст (лет):</span>
					<input class="selection-form__input selection-form__input--age input" type="number" id="age" placeholder="7">
				</label>
			</div>
			<fieldset class="selection-form__program-type program-type">
				<legend class="visually-hidden">Тип программы</legend>
				<ul class="program-type__list">
					<li class="program-type__item">
						<label class="program-type__label" for="weight-loss">
							<input class="program-type__input" type="radio" name="program-type" value="weight-loss" id="weight-loss" checked>
							<span class="program-type__label-name label-name">Похудение</span>
						</label>
					</li>
					<li class="program-type__item">
						<label class="program-type__label" for="weight-gain">
							<input class="program-type__input" type="radio" name="program-type" value="weight-gain" id="weight-gain">
							<span class="program-type__label-name label-name">Набор массы</span>
						</label>
					</li>
					<li class="program-type__item">
						<label class="program-type__label" for="unknown">
							<input class="program-type__input" type="radio" name="program-type" value="unknown" id="unknown">
							<span class="program-type__label-name label-name">Не знаю (Нужен ваш совет)</span>
						</label>
					</li>
				</ul>
			</fieldset>
			<fieldset class="selection-form__owner-contacts owner-contacts">
				<legend class="owner-contacts__title title-line heading heading--lvl-3 heading--has-decor">
					<span class="heading__back">Контактные данные (владельца кота)</span>
				</legend>
				<div class="owner-contacts__label-wrapper">
					<label class="owner-contacts__label" for="email">
						<span class="owner-contacts__label-name label-name">E-mail:</span>
						<span class="owner-contacts__label-name label-name" aria-hidden="true">*</span>
						<input class="owner-contacts__input input" type="email" id="email" placeholder="kuklachev@gmail.com" required>
						<span class="owner-contacts__input-icon owner-contacts__input-icon--email"></span>
					</label>
					<label class="owner-contacts__label" for="phone">
						<span class="owner-contacts__label-name label-name">Телефон:</span>
						<span class="owner-contacts__label-name label-name" aria-hidden="true">*</span>
						<input class="owner-contacts__input input" type="tel" id="phone" placeholder="8 (960) 900-60-90" required>
						<span class="owner-contacts__input-icon owner-contacts__input-icon--phone"></span>
					</label>
				</div>
			</fieldset>
			<div class="selection-form__form-comments form-comments">
				<label class="form-comments__title heading heading--lvl-3 heading--has-decor" for="comments">
					<span class="heading__back">Комментарий</span>
				</label>
				<textarea class="form-comments__comments-area" name="comments" id="comments" placeholder="Расскажите обо всех повадках кота"></textarea>
			</div>
			<fieldset class="selection-form__additional-parameters additional-parameters">
				<legend class="additional-parameters__title heading heading--lvl-3 heading--has-decor">
					<span class="heading__back">Дополнительно</span>
				</legend>
				<div class="additional-parameters__input-wrapper">
					<label class="additional-parameters__label" for="sugar-substitute">
						<input class="additional-parameters__input" type="checkbox" name="additional-parameters" value="sugar-substitute" id="sugar-substitute" checked>
						<span class="additional-parameters__label-name label-name">Сахарозаменитель</span>
					</label>
					<label class="additional-parameters__label" for="water">
						<input class="additional-parameters__input" type="checkbox" name="additional-parameters" value="water" id="water">
						<span class="additional-parameters__label-name label-name">Питьевая вода</span>
					</label>
					<label class="additional-parameters__label" for="milk">
						<input class="additional-parameters__input" type="checkbox" name="additional-parameters" value="milk" id="milk">
						<span class="additional-parameters__label-name label-name">Молоко</span>
					</label>
					<label class="additional-parameters__label" for="vitamins">
						<input class="additional-parameters__input" type="checkbox" name="additional-parameters" value="vitamins" id="vitamins">
						<span class="additional-parameters__label-name label-name">Витамины</span>
					</label>
				</div>
			</fieldset>
			<div class="selection-form__button-wrapper">
				<button class="selection-form__button button" type="submit">Отправить заявку</button>
				<span class="selection-form__warning" aria-hidden="true">* — Обязательные поля</span>
			</div>
		</form>
	</div>
	{% include "./templates/contacts.twig" %}
</main>
{% endblock %}
