{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}

<!--

	⚠️ Проверяющему ⚠️

	🔷 Валидация и проверка БЭМ-классов включены в `npm run lint`

	🔷 Webp генерируется в прод-сборке. Проверить — `npm run preview`

-->

<main class="main-index">
	<section class="main-index__welcome welcome">
		<div class="welcome__centerer page__centerer">
			<h1 class="welcome__main-title heading heading--lvl-1">Функциональное питание для котов</h1>
			<p class="welcome__main-description">Занялся собой? Займись котом!</p>
			<div class="welcome__welcome-image-wrapper">
				{% include "./templates/picture.twig" with {name: "can-image", class: "welcome__welcome-image", alt: "Изображение банки с кормом."} %}
			</div>
			<a class="welcome__choose-button button" href="javascript:undefined">Подобрать программу</a>
		</div>
	</section>
	<section class="main-index__programs programs">
		<div class="page__centerer">
			<h2 class="visually-hidden">Варианты программ питания</h2>
			<ul class="programs__programs-list">
				<li class="programs__programs-item programs__programs-item--weight-loss">
					<h3 class="programs__programs-title">Похудение</h3>
					<p class="programs__programs-description">Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.</p>
					<a class="programs__programs-link" href="catalog.html">
						Каталог slim
						{# Добавить иконку #}
					</a>
				</li>
				<li class="programs__programs-item programs__programs-item--weight-gain">
					<h3 class="programs__programs-title">Набор массы</h3>
					<p class="programs__programs-description">Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
					<a class="programs__programs-link" href="catalog.html">
						<span class="programs__programs-link-name">Каталог pro</span>
						{# Добавить иконку #}
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="main-index__advantages advantages">
		<div class="page__centerer">
			<h2 class="advantages__title heading heading--lvl-2">Как это работает</h2>
			<ul class="advantages__advantages-list">
				<li class="advantages__advantages-item advantages__advantages-item--leaf">
					<span class="advantages__advantages-item-name">Функциональное питание содержит только полезные питательные вещества.</span>
				</li>
				<li class="advantages__advantages-item advantages__advantages-item--container">
					<span class="advantages__advantages-item-name">Выпускается в виде порошка, который нужно лишь залить кипятком и готово.</span>
				</li>
				<li class="advantages__advantages-item advantages__advantages-item--tableware">
					<span class="advantages__advantages-item-name">Замените один-два приема обычной еды на наше функциональное питание.</span>
				</li>
				<li class="advantages__advantages-item advantages__advantages-item--clock">
					<span class="advantages__advantages-item-name">Уже через месяц наслаждайтесь изменениями к лучшему вашего питомца!</span>
				</li>
			</ul>
		</div>
	</section>
	<section class="main-index__examples examples">
		<div class="page__centerer examples__container">
			<h2 class="examples__title heading heading--lvl-2">Живой пример</h2>
			<p class="examples__description">Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.</p>
			<dl class="examples__profits profits">
				<div class="profits__description">
					<dt class="profits__title">снижение веса</dt>
					<dd class="profits__profit-level">5 кг</dd>
				</div>
				<div class="profits__description">
					<dt class="profits__title">затрачено времени</dt>
					<dd class="profits__profit-level">60 дней</dd>
				</div>
				<div class="profits__description profits__description--expenses">
					<dt class="profits__title profits__title--expenses">Затраты на питание:</dt>
					<dd class="profits__profit-level profits__profit-level--expenses">15 000 руб.</dd>
				</div>
			</dl>
			<figure class="examples__compare-images compare-images" style="--width: 0.5;">
				<div class="compare-images__fat-cat-container">
					{% include "./templates/picture.twig" with {name: "cat-slider-fat", class: "compare-images__fat-cat", alt: "Толстый кот."} %}
				</div>
				<div class="compare-images__slider">
					<button class="compare-images__button">
						<span class="visually-hidden">Слайдер</span>
					</button>
				</div>
				<div class="compare-images__skinny-cat-container">
					{% include "./templates/picture.twig" with {name: "cat-slider-skinny", class: "compare-images__skinny-cat", alt: "Худой кот."} %}
				</div>
			</figure>
		</div>
	</section>
	{% include "./templates/contacts.twig" %}
</main>
{% endblock %}
